.login-box {
  background: linear-gradient(#171738, #2e1760);
  position: relative;
  width: 400px;
  padding: 40px;
  margin: 70px;
  background-color: linear-gradient(#006992, #2e1760);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 3px;
  padding: 0;
  color: #fff;
  text-align: center;
}
