.login-box {
  background-color: rgb(250, 252, 254);
  position: relative;
  width: 400px;
  padding: 40px;
  margin: 70px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 3px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.sign-in-left {
  padding-left: 80px;
  margin-top: 100px;
}

.sign-in-left img {
  width: 500px;
  height: 150px;
}

.sign-in-title {
  margin-left: 70px;
}

.btn-login-container {
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.btn-login {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #1b74e4;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #ccc;
}

.btn-register {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(11, 177, 17);
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .login-box {
    margin: 0;
  }
  .sign-in-left {
    padding-left: 0;
  }
  .sign-in-title {
    margin-left: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .sign-in-left img {
    width: 350px;
    height: 100px;
  }
}
