.banner {
  background-color: #008080;
  color: #fff;
  padding: 20px 170px;
}

.article-meta {
  height: 30px;
}

.comment-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.article-body {
  font-size: 20px;
  padding: 20px 120px;
  font-weight: 400;
  font-family: "EB Garamond", serif;
}

.trash-icon {
  cursor: pointer;
}

.trash-icon:hover {
  color: #000;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 7px;
}

textarea:focus {
  outline: none;
}
