.profile-container {
  background-color: rgb(237, 238, 240);
  width: 100%;
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #ccc;
}

.action-cover-image {
  position: absolute;
  top: 250px;
  font-size: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}

.profile-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
}

.cover-image {
  position: relative;
  background: url("../../assets/images/anh\ bia.jpg") no-repeat center;
  object-fit: cover;
  background-size: cover;
  background-position: bottom;
  margin: 0 150px;
  border-radius: 10px;
  height: 300px;
  margin-bottom: 200px;
}

.profile-settings-btn button {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.profile-tabs {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 150px;
  border-top: 2px solid rgb(195, 194, 194);
  border-bottom: 2px solid rgb(195, 194, 194);
  height: 60px;
  width: 100%;
  font-size: 10px;
}

.tab {
  font-size: 20px;
  border: none;
}

.article-profile-container {
  padding: 0 150px;
}

.article-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  font-size: 20px;
  border: none;
  background-color: #fff;
}

.introduce-profile {
  width: 100%;
  height: 380px;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 0;
  padding: 20px;
  box-shadow: 2px 2px #ccc;
}

.introduce-profile h3 {
  font-size: 25px;
  font-weight: 700;
}

.introduce-btn {
  padding: 8px 10px;
  width: 100%;
  background-color: rgb(224, 223, 223);
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.introduce-btn:hover {
  background-color: #ccc;
}
.address-info {
  font-size: 15px;
  margin: 5px 0;
}

.introduce-icon {
  font-size: 25px;
}

.nav-article-mobile {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  margin-top: 10px;
  box-shadow: 2px 2px #ccc;
  justify-content: space-around;
  display: none;
}

.nav-article-mobile button {
  border: none;
  border-radius: 10px;
  margin: 0 2px;
}

@media only screen and (max-width: 992px) {
  .cover-image {
    margin: 0;
  }
  .article-profile-container {
    padding: 0;
  }
  .nav-tabs {
    display: none;
  }
  .article-profile-container {
    padding-top: 170px;
    width: 100%;
  }
  .friends-profile {
    padding: 8px;
  }
  .nav-article-mobile {
    display: flex;
  }
}
