* {
  font-family: "Domine", serif;
}

.home-container {
  color: #fff;
}

.article-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.article-name-user {
  font-size: 13px;
  font-weight: 400;
  color: rgb(4, 189, 4);
  text-decoration: none;
  cursor: pointer;
}
.article-name-user:hover {
  text-decoration: underline;
  color: rgb(1, 159, 1);
}

.article-date {
  font-size: 10px;
}

.btn-heart {
  width: 65px;
  height: 30px;
  font-size: 14px;
  padding: 4px 5px;
}

.article-content {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "EB Garamond", serif;
}

.article-description {
  font-size: 15px;
  opacity: 0.6;
  cursor: pointer;
  font-family: "EB Garamond", serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "EB Garamond", serif;
}

.read-more {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  opacity: 0.7;
}

.article-tag span {
  font-size: 10px;
  margin-left: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px 6px;
  color: #fff;
  display: inline-block;
  margin-top: 5px;
}

.popular-tags {
  background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  border-radius: 10px;
}

.popular-tags p {
  font-size: 20px;
  font-weight: 500;
}
.tags {
  color: #fff;
  display: inline-block;
}
.tags a {
  background-color: rgb(118, 118, 118);
  font-size: 11px;
  margin-left: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px 7px;
  opacity: 0.6;
  cursor: pointer;
}

.article-container {
  border-bottom: 1px solid #ccc;
}
