.logo {
  width: 40px;
  height: 40px;
  font-size: 12px;
  border-radius: 50%;
}

.nav-left {
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  z-index: 20;
  height: 100%;
  width: 100%;
}

.nav-middle {
  height: 100%;
  width: 41%;
}

.nav-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.nav-item:hover {
  background-color: rgb(224, 224, 224);
  border-bottom: 4px solid #2374e1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-item-right {
  height: 100%;
  margin-left: 15px;
  background-color: #ccc;
  border-radius: 50%;
  padding: 8px;
}

.nav-item-image {
  height: 100%;
  margin-left: 10px;
  padding: 10px;
}

.drop-down {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 70px;
  right: -5px;
  border-radius: 5px;
}

.dropdown-content::before {
  content: "";
  border-width: 18px 26px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 8px;
  top: -36px;
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.drop-down:hover .dropdown-content {
  display: block;
}

.drop-down-icon {
  font-size: 20px;
}

.nav-input {
  border-radius: 15px;
  outline: none;
  padding: 5px 10px;
  border: none;
  background-color: rgb(244, 244, 244);
  margin-left: 5px;
}

.navbar {
  font-family: "Pacifico", cursive;
  background-color: #fff;
  color: #000;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 0;
  box-shadow: 3px 3px rgb(241, 239, 239);
}

.nav-link {
  color: #000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  height: 100%;
  color: #2374e1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  margin-right: 10px;
}

.nav-noti {
  font-size: 20px;
}

.nav-icon {
  display: none;
}

.nav-icon svg {
  display: flex;
}
